.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 120px auto 0;
    background-color: #f4f4f4;
}

.left-container, .right-container {
    display: flex;
}

.left-container {
    width: 50%;
}

.left-container img {
    width: 100%;
}

.right-container {
    width: 45%;
    flex-direction: column;
    padding-right: 50px;
}

.title, .description, .button, .signin-nav-link {
    text-align: center;
}

.title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 0.75rem;
    color: #666;
    margin-bottom: 20px;
}

.input, .button {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1em;
}

.signin-register-link {
    display: block;
    margin-top: 20px;
}

.signin-nav-link {
    margin-left: 5px;
    color: #007BFF;
    text-decoration: none;
}

.signin-nav-link:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .container {  
        width: 90%;
        margin-top: 110px;
    }
}

@media (max-width: 1024px) {
    .container {  
        width: 90%;
        margin-top: 170px;
    }
    .left-container, .right-container {
        width: 50%;
    }
    .right-container {
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .container {  
        flex-direction: column;
        margin-top: 100px;
    }
    .title {
        font-size: 1.4em;
    }
    .description {
        font-size: 0.8em;
    }
    .left-container {
        width: 100%;
    }
    .left-container img {
        width: 100%;
    }
    .right-container {
        margin-top: 20px;
        padding: 0 50px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .container {  
        margin-top: 70px;
    }
    .title {
        font-size: 1em;
    }
    .description{
        font-size: .8em;
    }

    .input, .button {
        font-size: 1em;
    }
    .left-container, .right-container {
        width: 100%;
    }
    .right-container{
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .left-container img {
        width: 100%;
        border-radius: 8px;
    }
    .right-container {
        width: 100%;
        padding: 0 10px;
    }
    .input, .button {
        font-size: 15px;
    }

    .signin-register-link, .signin-nav-link {
        font-size: 0.9em;
    }
}
