.list-section {
    padding: 0 6%;
}

.status-radio-container {
    margin: 20px 0;
}

.status-radio-group {
    display: flex;
}

.card {
    width: 100%;
    margin-top: 20px;
}

.candidate-image-container {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.candidate-image {
    width: 100%;
}

.action-buttons {
    display: flex;
    gap: 5px;
    
}

.status-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #56ff019d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-icon:hover {
    background-color: white;
    border: 1px solid #56ff019d;
    color: rgb(1, 189, 1);
}

.delete-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff01018a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-icon:hover {
    background-color: white;
    border: 1px solid #ff01018a;
    color: red;
}

@media (max-width: 1200px) {
    .list-section {
        padding: 15px;
    }

    .status-radio-container {
        margin-bottom: 15px;
    }

    .card {
        width: 100%;
        margin-top: 15px;
    }
}

@media (max-width: 992px) {
    .status-radio-container {
        text-align: left;
    }

    .card {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .status-radio-container {
        margin-bottom: 10px;
    }

    .action-buttons {
        flex-direction: column;
        gap: 5px;
    }

    .status-button,
    .delete-button {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .list-section {
        padding: 10px;
    }

    .card {
        margin-top: 10px;
        padding: 10px;
    }
}