#footer {
  background: #14151c;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
}

#footer h3 {
  font-size: 30px;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
  font-weight: 700;
}

#footer p {
  font-size: 15px;
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 600;
}

#footer .social-links {
  margin: 0 0 20px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ef6603;
  color: #fff;
  line-height: 1;
  padding: 3px 1px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: orangered;
  color: #fff;
  text-decoration: none;
}