.right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40vw;
    background: linear-gradient(to bottom, #FFFFFF, #EF3B36);
}
.rulesection{
	margin-top: 90px;
	margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}
.rulesection h3{
 text-align: center;
}
.btn{
  font-size: 14px;
  border-radius: 10px;
  background-color: #EF3B36;
  padding: 10px 20px 10px 20px;
  font-weight: 800;
  border: 0;
  cursor: pointer;
}
.btn:hover{
  color: red;
  background-color: white;
} 
input::placeholder{
  font-weight: bold;
}
