.header {
  height: 60px;
  z-index: 1997;
  background:#2d2f3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100vw; 
}