.header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(42, 44, 57, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }