:root {
    --black-color: #222831;
    --main-color: #FD7014;
    --white-color: white;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

.btn {
    display: inline-block;
    padding: 6px 2rem;
    background: var(--main-color);
    border-radius: 0.6rem;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 700;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

section {
    scroll-margin-top: 80px;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin: 3rem 0 2rem;
    text-align: center;
}

span {
    color: var(--main-color);
}